<h1 id="tableLabel">Najwyższe wyniki</h1>

<p>Ranking graczy</p>

<p *ngIf="!highScores"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="highScores">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let highScore of highScores">
      <td>{{ highScore.name }}</td>
      <td>{{ highScore.score }}</td>
      <td>{{ highScore.date}}</td>
    </tr>
  </tbody>
</table>
