<div class="footer">
  <strong>
    Praca inżynierska
    <br/>
    Gra mobilna na platformę Android
  </strong>
  <br/>
  Michał Gołębiewski
  <br/>
  Wrocławska Wyższa Szkoła Informatyki Stosowanej
</div>
